// Is this working?
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

h1, h2, h3, h4, h5 {
	font-family: 'Righteous', cursive;
    letter-spacing: 1px;
	margin-bottom: 15px;
	padding-top: 15px;
}


/* VARIABLE */

@call-color: blue;

@button-fy: orange;

@bigly: red;



/* MIXINS */

.list(){
	border: 1px solid lightgray;
	padding: 10px 10px;
}

.list-bg-white(){
	background-color: white;
}

.list-bg-gray(){
	background-color: lightgray;
}

.rowman() {
		width: 100%;
		max-width: 870px;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		border: 1px solid black;
		padding: 5px;
}

.rowman-bg-gray(){
	background-color: lightgray;
}

.h2-phone-view() {
	@media (max-width: 500px){
		text-align: center;
		font-family: 'Anton', sans-serif;
		font-size: 20px;
		text-decoration: underline; 
		padding-bottom: 8px;
	}
}

/*General */


.container {
	width: 980px;
	margin: 0 auto;
}

header {
	width: 100%;
	max-width: 870px;
	margin: 0 auto;
	padding-top: 30px;
	padding-bottom: 5px;
	display: flex;
	justify-content: space-between;
	align-items: baseline;

		@media (max-width: 500px) {
			width: 100%;
			max-width: 490px;
			display: flex;
			flex-direction: column;
			align-content: center;
			margin: 0px;
		}

		h1 {
			font-size: 30px;
			justify-content: flex-start;
			color: @call-color;

			@media (max-width: 500px){
				margin: 0 auto;
			}

		}

			nav {
				justify-content: space-between;
			
				@media (max-width: 500px) {
					display: flex;
					width: 100%;
					max-width: 490px;
					flex-direction: column;
					margin-top: 18px;
					margin-right: 1px;
					align-content: center;
				}

			}


				nav a{
					text-decoration: none;
					font-size: 16px;
					font-family: sans-serif;
					color: gray;
					padding-left: 30px;
				
					@media(max-width: 500px) {
						margin: 0 auto;
						width: 100%;
						font-size: 20px;
						color: lightgray;
						font-weight: bold;
						text-decoration: none;
						border-top: 1px solid gray;
						padding: 20px;
						align-items: center;
						text-align: center;
					
					}
				}
}

				

.intro-bottom {
		width: 100%;
		max-width: 870px;
		margin: 0 auto;
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 20px;
		display: flex;
		background-color: whitesmoke;
		
			@media(max-width: 500px){
				width: 100%;
				max-width: 490px;
				margin: 0;
				padding-left: 40px;
				padding-right: 40px;
				display: flex;
				background-color: whitesmoke;
			}

		.team-up {
			width: 100%;
				/*flex: auto;*/
			vertical-align: center;
			padding-top: 20px;
			padding-bottom: 20px;
			margin-bottom: 15px;

			@media (max-width: 500px) {
				width: 100%;
				max-width: 490px;
				display: flex;
				flex-direction: column;
				align-content: center;
				margin: 0px;
			}

				h2 {
					color: @call-color;
				}

				h4 {
					border-bottom: 1px solid black;
					padding-bottom: 15px;
				}

				p {
					font-family: 'Oswald', sans-serif;
					line-height: 2;
				}

				button {
					border: 1px solid black;
					border-radius: 5px;
					background-color: @button-fy;
					margin-top: 15px;
					padding: 10px;

						@media (max-width: 500px){
							width: 100%;
							font-size: 20px;
							background-color: @bigly;
							}
					}
			} 
			

}


.bio {
		width: 100%;
		max-width: 870px;
		margin: 0 auto;
		padding-top: 10px;
		display: flex;
		justify-content: space-evenly;
		background-color: white;

		@media (max-width: 500px) {
			width: 100%;
			max-width: 490px;
			display: flex;
			flex-direction: column;
			align-content: center;
			margin: 0px;
		}


			.overview {
				width: 48%;

				@media (max-width: 500px){
					width: 100%;
					max-width: 490px;
					margin: 0 auto;
					padding: 20px;
				}

				h2 {
					.h2-phone-view();
				}


			}

				.skills {
					width: 100%;
					max-width: 490px;
					margin: 0 auto;
					padding: 20px;
					
					h2 {
						.h2-phone-view();
					}
					
				}

						li {
							.list();

							@media (max-width: 500px) {
								background-color: @button-fy;
								text-align: center;
								}
						}
	}

	.experience {
		width: 100%;
		max-width: 870px;
		margin: 0 auto;
		padding-top: 10px;
		display: flex;
		flex-direction: column;
		background-color: white;

		@media (max-width: 500px) {
			width: 100%;
    		max-width: 470px;
    		margin: 0;
    		padding-left: 20px;
    		padding-bottom: 20px;;
		}
		
			.top-row {
				.rowman();
			}

				.row-two {
					.rowman();
					.rowman-bg-gray;
				}

					.row-three{
						.rowman();
					}

						.row-four {
							.rowman();
							.rowman-bg-gray;
						}

	}